.login-container {
	width: 60%;
	margin: 10px 4px;
	padding: 25px;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(128, 128, 128, 0.15);
	font-family: "Arial", sans-serif;
}

.login-container p {
	margin: 10px 0 5px;
	font-weight: bold;
}

.login-container input,
.login-container select {
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 15px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 14px;
	box-sizing: border-box;
	transition: 0.2s;
}

.password-container {
	display: flex;
	align-items: flex-start;
}

.password-container button {
	border: none;
	background-color: #007bff;
	color: #ffff;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.3s ease;
	padding: 8px;
	margin-left: 10px;
}

.password-container button:hover,
.btn-container button:hover {
	color: #0056b3;
	color: #ffff;
}

.btn-container button,
.counter-container button {
	border: none;
	background-color: #007bff;
	color: #ffff;
	font-size: 0.9rem;
	padding: 10px;
}

.counter-container {
	width: 80%;
	margin: 10px 4px;
	padding: 25px;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(128, 128, 128, 0.15);
	font-family: "Arial", sans-serif;
	text-align: center;
}

.counter-container button {
	border: none;
	background-color: #007bff;
	color: #ffff;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.3s ease;
	padding: 8px 20px;
	margin-left: 10px;
}

.window-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
	padding: 20px;
}

.window-container button {
	background: #1976d2;
	border: none;
	padding: 10px 20px;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 15px;
	transition: background 0.3s ease;
}

.window-container button:hover {
	background: #0d47a1;
}

.mobile {
	background-color: #fce4ec; 
}

.desktop {
	background-color: #e3f2fd; 
}

.pokemon-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 30px;
	font-family: Arial, sans-serif;
}

.pokemon-title {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #1976d2;
}

.pokemon-container input {
	padding: 8px;
	font-size: 16px;
	border: 2px solid #1976d2;
	border-radius: 6px;
	outline: none;
	margin-bottom: 20px;
	transition: 0.2s;
}

.pokemon-container input:focus {
	border-color: #ef5350;
}

.loading {
	font-size: 18px;
	color: #555;
}

.error {
	color: red;
	font-weight: bold;
}

.pokemon-card {
	background: #e3f2fd;
	padding: 20px;
	border-radius: 12px;
	display: inline-block;
	margin-top: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	text-transform: capitalize;
}

.pokemon-card img {
	width: 120px;
	margin: 10px 0;
}
